In [ ]:
import sqlite3
db = sqlite3.connect('videostore.db')

In [ ]:
cur = db.cursor()
cur.execute('SELECT * FROM movies ORDER BY title')
print(cur.fetchall())

In [ ]:
cur = db.cursor()
rows = cur.execute('SELECT * FROM movies ORDER BY title')
for row in rows:
    print(row)

In [ ]:
db.row_factory = sqlite3.Row
cur = db.cursor()
rows = cur.execute('SELECT * FROM movies ORDER BY title')
for row in rows:
    print(row["title"])

In [ ]:
cur = db.cursor()
m = 17
t = 'Beauty and the Beast'
g = 'animation musical comedy'
r = 'G'
cur.execute('INSERT INTO movies VALUES (?, ?, ?, ?)', (m, t, g, r))

In [ ]:
cur = db.cursor()
rows = cur.execute('SELECT * FROM movies')
for row in rows:
    print(list(row))

In [ ]:
cur = db.cursor()
rows = cur.execute('SELECT * FROM rentals, customers WHERE customers.customerid = rentals.customerid')
for row in rows:
    print(dict(row))

In [ ]:
cur = db.cursor()
rows = cur.execute('SELECT * FROM rentals, customers, movies WHERE customers.customerid = rentals.customerid AND rentals.movieid = movies.movieid')
for row in rows:
    print(dict(row))

In [ ]:
rating = input("Enter a rating you'd like to search for: ")
rows = cur.execute('SELECT * FROM movies WHERE rating = "' + rating + '"')
for row in rows:
    print(list(row))

In [ ]:
movieid = input("Enter movie ID of new movie: ")
title = input("Enter title of new movie: ")
cur.executescript('INSERT INTO movies (movieid, title) VALUES (' + movieid + ', "' + title + '")')

In [ ]:
cur = db.cursor()
rows = cur.execute('SELECT * FROM movies')
for row in rows:
    print(list(row))